<html>
<head>
    <title>Game Master</title>
    <script type="text/javascript" src="../../../lib/angular.min.js"></script>
    <link rel="stylesheet" href="../styles/start-game.css"/>
    <script type="text/javascript" src="../../js/controller/master-controller.js"></script>
</head>

<body>
<div ng-app="uno" ng-controller="startCtrl">
    <div class="centerDiv" ng-show="gameNotCreated">
        <form ng-submit="createGame()">
            <table>
                <tr><td>Master Name: </td>
                    <td><input type="text" ng-model="masterName"/></td><br>
                <tr><td>Packs: </td>
                    <td><input type="text" ng-model="noOfPacks"/></td><br>
                <tr><td>Players:	</td>
                    <td><input type="text" ng-model="noOfPlayers"/></td><br>
                <tr><td colspan = "2"><br/><center><input type="submit" value="Create Game"/></center></td></tr>
            </table>
        </form>
    </div>
    <div class="centerDiv" ng-show="!gameNotCreated">
        <label id="startInfo">Game created by {{masterName}} for {{noOfPlayers}} players with {{noOfPacks}} pack </label>
    </div>
</div>
</body>
</html>