
#cardsLeft {
    position: fixed;
    height: 130px;
    width: 420px;
    left:700px;
    overflow-x: auto;
    overflow-y: hidden;
    display: inline;
}
#dummyCard {
    height: 120px;
    width: 80px;
    float: left;
    font-weight: bold;
    color: #000000;
}
#eachPlayerResult{
    height:140px;
    border-color: white;
    border-width: 5px;
}
#playerName {
    position:relative;
    font-size: 40px;
    left: 200px;

}
#playerPoints {
    position: relative;
    left: 400px;
    font-size: 40px;
}

#resultBoard{
    width: 1275px;
    height: 646px;
    background-color:indianred;
    color: white;
    overflow-x: hidden;
    overflow-y:auto;

}

#collectingResult{
    top: 100px;
    left: 200px;
    font-size:20px;
    color: white;

}
#gameOver {
    background-image: url("../images/gameOver.png");
    height: 70px;
}