#board {
    width: 1250px;
    height: 705px;
    background-color: gray;
}

.turn {
    margin-right: 30px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 150%;

}

#otherPlayers {
    position: fixed;
    left: 10px;
    top: 10px;
    height: 40px;
    width: 800px;
    display: inline;
}

.catchButton {
    float: left;
    width: 150px;
    height: 40px;
    font-size: 105%;
    border-radius: 5px;
}

.card {
    height: 160px;
    width: 110px;
    float: left;
    font-weight: bolder;
    font-size: 20px;
    background-size:100% 100%;
    border-radius: 3px;

}

#activityLog {
    position: fixed;
    left: 970px;
    top: 10px;
    font-size: 16px;
    font-style: normal;
    font: 'trebuchet ms', verdana, arial;
}

#cards {
    position: fixed;
    left: 40px;
    top: 480px;
    height: 180px;
    width: 780px;
    overflow-x: auto;
    overflow-y: hidden;
    display: inline;
}

#drawCards {
    position: fixed;
    left: 350px;
    top: 200px;
    width: 115px;
    height: 165px;
    padding-top: 5px;
    padding-left: 5px;
}

#openPile {
    position: fixed;
    left: 600px;
    top: 200px;
    text-align: center;
}

#hint {
    position: fixed;
    left: 450px;
    top: 400px;
    height: 30px;
    width: 300px;
    font-size: 25px;
    font-weight: bold;
}

#turnWisePlayerName {
    position: fixed;
    left: 200px;
    top: 400px;
    height: 30px;
    width: 200px;
    font-size: 25px;
    float: left;
}

#uno {
    position: fixed;
    left: 850px;
    top: 520px;
    border-radius: 20px;
    font-size: 25px;
    padding: 10px;
}

#colorChooser{
    border-radius: 50%;
    left: 350px;
    top: 150px;
    width: 200px;
    height: 220px;
    position: fixed;
}

.colorButton{
    width: 100px;
    height: 100px;
    float: left;
}
#chooseColor{
    width: 100px;
    height: 20px;
    text-align: center;
    color: white;
    font-size: 150%;
    border: 2px;
}

#warning {
    position: fixed;
    left: 50px;
    top: 650px;
    font-size: 150%;

}
#warning-text{
    background-color: darksalmon;
    color: red;
    font-weight: bold;
    font-size: 20px;
    font-family: arial;
}

