#board {
    width: 980px;
    height: 670px;
    background-color: gray;
}

.turn{
    margin-right: 30px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 150%;
}

#otherPlayers {
    position: fixed;
    left: 10px;
    top: 10px;
    height: 40px;
    width: 800px;
    display: inline;
    color: red;
}

.catchButton {
    float: left;
    width: 150px;
    height: 40px;
    font-size: 105%;
}

.card {
    height: 120px;
    width: 80px;
    float: left;
    font-weight: bold;
}

#activityLog {
    position: fixed;
    left: 750px;
    top: 10px;
}

#cards {
    position: fixed;
    left: 40px;
    top: 500px;
    height:140px;
    width:600px;
    overflow-x: auto;
    overflow-y: hidden;
    display: inline;
}

#drawCards {
    position: fixed;
    left: 150px;
    top: 200px;
}

#openPile {
    position: fixed;
    left: 400px;
    top: 200px;
    text-align: center;
}

#hint {
    position: fixed;
    left: 250px;
    top: 410px;
    height: 30px;
    width: 300px;
    font-size: 25px;
}
#uno {
    position: fixed;
    left:650px;
    top:520px;
    border-radius: 20px;
    font-size: 25px;
    padding: 10px;
}