body{
    background-image:url("../images/UNO.png");
}

.renderButton{
    width: 200px;
    height: 40px;
    font-size: 115%;
    margin-top: 50px;

}

.getDetails {
    color:black;
    font-weight: bold;
    font-size: 40px;
}

.notifyGameStart {
    top: 20px;
    left: 200px;
    font-weight: bolder;
    font-size:40px;
    color: white;
}

.centerDiv{
    width: 500px;
    height: 600px;
    position: absolute;
    top:200px;
    left: 400px;
    margin: auto;
    border-radius:20px ;
}
#join {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

