body{
    background-image: url("../images/uno1.png");
}

.renderButton{
    width: 200px;
    height: 40px;
    font-size: 16px;
    margin-top: 50px;
}

.getDetails {
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.notifyGameStart {
    top: 40px;
    left: 200px;
    font-size:30px;
    color: white;

}

.centerDiv{
    width: 500px;
    height: 350px;
    position: absolute;
    top:100px;
    left: 100px;
    margin: auto;
}
#join {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.chooseMaster {
    top: 30px;
    left: 100px;
    background-color: #000000;
}
.gameMaster {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.round-corner-button {
    width: 200px;
    height: 45px;
    border-radius: 5px;
    font-size: 24px;
    color: #000000;
}
.inputDetail{
    width: 250px;
    font-size: 25px;
    color: #000000;
}

input[type=radio] {
    display:none;
    margin:10px;
}

input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    width: 150px;
    text-align: center;
    background-color: #d0d0d0;
    border-color: #ddd;
    float: left;
}

input[type=radio]:checked + label {
    background-image: none;
    background-color:#46b8da;
}