body{
    background-image: url("../images/uno1.png");
}

.renderButton{
    width: 200px;
    height: 40px;
    font-size: 16px;
    margin-top: 50px;
}

.getDetails {
    font-weight: bold;
    font-size: 30px;
    color: white;

}

.notifyGameStart {
    top: 40px;
    left: 200px;
    font-size:30px;
    color: white;

}

.centerDiv{
    width: 500px;
    height: 350px;
    position: absolute;
    top:100px;
    left: 100px;
    margin: auto;
}
#join {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
#chooseMaster {
    top: 30px;
    left: 100px;
}
.gameMaster {
    color: white;
    font-size: 20px;
    width: 200px;
    left: 100px;
}

.round-corner-button {
    width: 200px;
    height: 45px;
    border-radius: 5px;
    font-size: 24px;
    color: #000000;
}
.inputDetail{
    width: 250px;
    font-size: 25px;
    color: #000000;

}


