body{
    background-image:url("../images/UNO.png");
}

.renderButton{
    width: 200px;
    height: 40px;
    font-size: 115%;
    margin-top: 50px;
    font-family: helvetica;
}

.inputField{
    width: 250px;
    font-size: 25px;
}

.getDetails {
    color:black;
    font-weight: bold;
    font-size: 40px;
    font-family: helvetica;
}

.notifyGameStart {
    top: 20px;
    left: 200px;
    font-size:40px;
    color: white;
}

#startInfo {
    font-family: helvetica;
}

.centerDiv{
    width: 600px;
    height: 600px;
    position: absolute;
    top:200px;
    left: 400px;
    margin: auto;
    border-radius:20px ;
}

.button {
    width: 200px;
    height: 45px;
    border-radius: 5px;
    font-size: 28px;
    font-weight: bolder;
}

#chooseMaster{
    float: right;
    background-color: gray;
    width: 200px;
}

.radioSelect{
    font-size: 25px;
    color: white;
}

