body{
    background-image:url("../images/UNO.png");
}

.renderButton{
    width: 200px;
    height: 40px;
    font-size: 115%;
    margin-top: 50px;
    font-family: helvetica;
}

.getDetails {
    font-weight: bold;
    font-size: 30px;
    font-family: helvetica;
    color: white;

}

.notifyGameStart {
    top: 20px;
    left: 200px;
    font-size:40px;
    color: white;

}
#startInfo {
    font-family: helvetica;
}

.centerDiv{
    width: 500px;
    height: 600px;
    position: absolute;
    top:200px;
    left: 400px;
    margin: auto;
}
.rightDiv{
    width: 500px;
    height: 350px;
    position: absolute;
    top:0px;
    left: 900px;
    margin: auto;
}
#join {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
#chooseMaster {
    top: 30px;
    left: 10px;
}
.gameMaster {
    color: white;
    font-size: 20px;
    font-family: helvetica;
    width: 200px;
}

.button {
    width: 200px;
    height: 45px;
    border-radius: 5px;
    font-size: 28px;
    font-weight: bolder;
}
.inputField{
    width: 250px;
    font-size: 25px;
}

#clear{
    width: 200px;
    font-size: 20px;
}
