<html ng-app="uno" ng-controller="joinCtrl">
<head>
  <title>UNO</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
  <script type="text/javascript" src = "js/controller.js"></script>
</head>

<body>
  <div>
    <form ng-submit="joinGame()">
      Game Master: <input type="text" ng-model="masterName" value="127.0.0.1"/></br>
      Your Name: <input type="text" ng-model="playerName"/>
      </br>
      <input type="submit" value="JOIN"/>
    </form>
  </div>
</body>
</html>