<div id="collectingResult" ng-hide="obtainedResult">
    PLEASE WAIT...</br>Collecting points of players...
</div>

<div id="resultBoard" ng-show="obtainedResult">
    <div ng-repeat="player in players">
        <div id="eachPlayerResult">
            <label id="playerName">{{player.name}}</label>
            <label id="playerPoints">{{player.points}}</label>

            <div id="cardsLeft">
                <div ng-repeat="card in player.cards" ng-style="numberOfCardsLeft(player)">
                    <button class="card" id="dummyCard"
                            ng-style="setCardProperties(card)" disabled>{{card.sign}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
