<div id="gameOver"></div>
<div id="collectingResult" ng-hide="obtainedResult">
    PLEASE WAIT...</br>Collecting points of players...
</div>

<div id="resultBoard" ng-show="obtainedResult">
    <table class="table table-hover">
        <tr id="eachPlayerResult" ng-repeat="player in players">
            <td id="playerName">{{player.name}}</td>

            <td id="playerPoints">{{player.points}}</td>

            <td>
                <div id="cardsLeft">
                    <div>
                        <div ng-repeat="card in player.cards" ng-style="numberOfCardsLeft(player)">
                            <button class="dummyCard"
                                    ng-style="setCardProperties(card)" disabled>
                            </button>
                        </div>
                    </div>
                </div>
            </td>

        </tr>
    </table>
</div>