<div class="gameMaster" ng-hide="amIJoined">
    <label>CHOOSE A GAME</label>

    <div id="chooseMaster" ng-repeat="masterNm in gameMasters">
        <input type="radio" id="{{masterNm}}" name="gameMaster" ng-click="changeMaster(masterNm)"/>
        <label for="{{masterNm}}"> {{masterNm}} </label>
    </div>
</div>

<div class="centerDiv" ng-hide="amIJoined">
    <form ng-submit="joinGame()">
        <table class="getDetails">
            <tr>
                <td>Game Master:</td>
                <td><input type="text" class="inputDetail" ng-model="masterName" ng-disabled="true"/></td>
                <br>
            </tr>
            <tr>
                <td>Your Name:</td>
                <td><input type="text" class="inputDetail" ng-model="playerName"/></td>
                <br>
            </tr>
            <tr>
                <td colspan="2"><br/>
                    <center><input type="submit" class="round-corner-button" value="JOIN" ng-disabled="disableJoin"/></center>
                </td>
            </tr>
        </table>
    </form>
</div>

<div class="notifyGameStart" ng-show="inUse">
    A player is already registered as name {{playerName}}.Choose another Name.
</div>

<div class="notifyGameStart" ng-show="full">
    {{masterName}} already started the game.Please choose another.
</div>

<div class="notifyGameStart" ng-show="amIJoined">
    Please wait for other players to connect
</div>