<div class="gameMaster" ng-hide="amIJoined">
    <label>CHOOSE A GAME</label>
    <div id="chooseMaster" ng-repeat="master in gameMasters">
        <input type="radio" class="radioSelect" name="gameMaster" value="{{master}}">{{master}}</input>
    </div>
</div>
<div class="rightDiv" ng-hide="amIJoined">

    <form ng-submit="joinGame()">
        <table class="getDetails">
            <tr><td>Game Master: </td>
                <td><input type="text" class="inputField" ng-model="masterName"/></td><br>
            <tr><td>Your Name: </td>
                <td><input type="text" class="inputField" ng-model="playerName"/></td><br>
            <tr><td colspan = "2"><br/><center><input type="submit" class="button" value="JOIN"/></center></td></tr>
        </table>
    </form>
</div>
<div class="notifyGameStart" ng-show="amIJoined">
    <label id="startInfo">please wait for other players to connect</label>
</div>