<div class="centerDiv">
    <form ng-submit="joinGame()">
        <table>
            <tr><td>Game Master: </td>
                <td><input type="text" ng-model="masterName"/></td><br>
            <tr><td>Your Name:	</td>
                <td><input type="text" ng-model="playerName"/></td><br>
            <tr><td colspan = "2"><br/><center><input type="submit" value="JOIN"/></center></td></tr>
        </table>
        <!--Game Master: <input type="text" ng-model="masterName"/></br>-->
        <!--Your Name: <input type="text" ng-model="playerName"/>-->
        <!--</br>-->
        <!--<input type="submit" value="JOIN"/>-->
    </form>
</div>