<div id="board" ng-controller="playerCtrl">
    <div id="playingBoard">
        <div id="otherPlayers">
            <label class="turn">{{directionSign}}</label>
            <label class="turn">{{currentPlayer}}'s turn</label>

            <div ng-repeat="player in players">
                <button class="catchButton" ng-disabled="openColorChooser" ng-click="catchPlayer()">
                    {{player.name}}:{{player.noOfCards}}
                </button>
            </div>
        </div>

        <textarea id="activityLog" cols="26" rows="41" onfocus="scrollDown(this)" readonly>{{activityLog}}</textarea>

        <div id="cards">
            <div ng-repeat="card in myCards" ng-style="numberOfCards()">
                <button class="card" ng-click="playCard(card)" ng-disabled="{{enable}} || openColorChooser"
                        ng-style="{background:'{{card.color}}',color:'{{card.foreColor}}'}">{{card.sign}}
                </button>

            </div>
        </div>

        <div id="drawCards">
            <button class="card" ng-click="drawCard()" ng-disabled="disableDraw || openColorChooser">Draw</button>
        </div>

        <div class="card" id="openPile">
            <button class="card" ng-style="openPileProp" disabled>
                {{openCard.sign}}
            </button>
        </div>

        <textarea id="warning" ng-show="showWarning" cols="10" rows="10">
            {{warningMessage}}
        </textarea>

        <div id="hint">
            {{hint}}
        </div>
        <div>
            <button id="uno" ng-disabled="openColorChooser" ng-click="declareUno()">UNO</button>
        </div>
    </div>

    <div id="colorChooser" ng-show="openColorChooser">
        <label id="chooseColor">Choose a color</label>
        <button class="colorButton" ng-click=setColor('red') style="background:red"></button>
        <button class="colorButton" ng-click=setColor('blue') style="background:blue"></button>
        <button class="colorButton" ng-click=setColor('yellow') style="background:yellow"></button>
        <button class="colorButton" ng-click=setColor('green') style="background:green"></button>
    </div>
</div>
