<div id="board" ng-controller="playerCtrl">
    <div id="playingBoard">
        <div id="otherPlayers">
            <label class="turn">{{directionSign}}</label>

            <div ng-repeat="player in players">
                <button class="catchButton" ng-click="catchPlayer(player)" ng-disabled="openColorChooser">
                    {{player.name}}:{{player.noOfCards}}
                </button>
            </div>
        </div>

        <table class="table table-hover" id="activityLog">
            <tr ng-repeat="log in activityLog">
                   <td>{{log}}</td>
            </tr>
        </table>


        <div id="cards">
            <div ng-repeat="card in myCards" ng-style="numberOfCards()">
                <button class="card" ng-click="playCard(card)" ng-disabled="{{enable}} || openColorChooser"
                        ng-style="setCardProperties(card)">{{card.sign}}
                </button>

            </div>
        </div>

        <div id="drawCards" ng-style="drawBackground">
            <input type="image" class="card" src="../images/UNO_Card.png" ng-click="drawCard()"
                   ng-disabled="disableDraw ||openColorChooser"/>
        </div>

        <div class="card" id="openPile">
            <button class="card" ng-style="openPileProp" disabled>
                {{openCard.sign}}
            </button>
        </div>

        <div id="warning">
            <textarea id="warning-text" ng-show="showWarning" cols="80" rows="1" readonly>
                {{warningMessage}}
            </textarea>
        </div>

        <div id="turnWisePlayerName">
            {{currentPlayer}}'s turn :

        </div>
        <div id="hint">
            {{hint}}
        </div>
        <div>
            <button id="uno" ng-click="declareUno()" ng-disabled="openColorChooser">UNO</button>
        </div>
        <div id="colorChooser" ng-show="openColorChooser">
            <label id="chooseColor">Choose a Color</label>
            <button class="colorButton" ng-click="setColor('red')" style="background:rgb(232, 67, 76)"></button>
            <button class="colorButton" ng-click="setColor('blue')" style="background:rgb(48, 199, 255)"></button>
            <button class="colorButton" ng-click="setColor('yellow')" style="background:rgb(222, 204, 39)"></button>
            <button class="colorButton" ng-click="setColor('green')" style="background:rgb(20, 157, 87)"></button>
        </div>
    </div>
</div>
