<div id="board" ng-controller="playerCtrl">
    <div id="otherPlayers">
        <label class="turn">{{directionSign}}</label>
        <label class="turn">{{currentPlayer}}'s turn</label>

        <div ng-repeat="player in players">
            <button class="catchButton" ng-click="catchPlayer()">{{player.name}}:{{player.noOfCards}}</button>
        </div>
    </div>

        <textarea id="activityLog" cols="26" rows="41" onfocus="scrollDown(this)">{{activityLog}}</textarea>
    <div id="cards">
        <div ng-repeat="card in myCards" ng-style="numberOfCards()">
            <button class="card" ng-click="playCard(card)" ng-disabled="{{enable}}"
                    ng-style="{background:'{{card.color}}',color:'{{card.foreColor}}'}">{{card.sign}}
            </button>
            
        </div>
    </div>

    <div id="drawCards">
        <button class="card" ng-click="drawCard()" ng-disabled="disableDraw">Draw</button>
    </div>

    <div class="card" id="openPile">
        <button class="card" ng-style="openPileProp" disabled>
            {{openCard.sign}}
        </button>
    </div>

    <div id="error" ng-show="showWarning">
        <textarea id="errorText">
            you can not  play this card.
        </textarea>
    </div>

    <div id="hint">
        {{hint}}
    </div>
    <div>
        <button id="uno">UNO</button>
    </div>
</div>