<!doctype html>
<html ng-app="uno">
    <head>
        <title>Join Uno</title>
        <link rel="stylesheet" href="../styles/player-screen.css"/>
        <link rel="stylesheet" href="../styles/game-over.css"/>
        <link rel="stylesheet" href="../styles/start-game.css"/>

        <script src="../../../lib/angular.min.js"></script>
        <script src="../../../lib/angular-route.min.js"></script>

        <script src="../../js/client/client.js"></script>
        <script src="../../js/controller/playerService.js"></script>
        <script src="../../js/controller/join-controller.js"></script>
        <script src="../../js/controller/player-controller.js"></script>
        <script src="../../js/controller/game-over-controller.js"></script>
    </head>

    <body>
        <div>
            <div ng-view></div>
        </div>
    </body>
</html>