<!doctype html>
<html>
<head>
    <title>UNO</title>
    <link rel="stylesheet" href="styles/index.css"/>
</head>
<body>
    <div class="centerDiv">
        <center>
            <a href="server/start-game.html">
                <input type="image" class="renderButton" src="./images/master.png" />
            </a>
            <br/>
            <a href="client/template.html">
                <input type="image" class="renderButton" src="./images/player.png" />
            </a>
        </center>
    </div>

</body>
</html>