<html ng-app ="player-screen">
    <head  ng-controller="initial">
        <script src="../../lib/angular.min.js"></script>
        <link rel="stylesheet" href="styles/player-screen.css"/>
        <script src="../../src/js/controller/player-controller.js"></script>
        <title>{{playerName}}</title>
    </head>
    <body ng-controller="otherPlayers">
        <div  id ="otherPlayers" ng-submit="catchPlayer()">
            <div ng-repeat="player in players" >
                <input type="submit" class ="playerName" value = "{{player.name}}:{{player.noOfCards}}"/>
            </div>
        </div>

        <div id="activityLog">
            <textarea cols="20" rows="40">{{activityLog}}</textarea>
        </div>

        <div id="cards">
            <div ng-repeat="card in myCards">
            <input type="submit" class ="card" value = "{{card.sign}}"/>
            </div>

        </div>
        <div id="drawCards">
           <button>draw</button>
        </div>

        <div id="openPile" style="text-align: center">
            <label class="card">{{openCard.sign}}</label>
        </div>

        <div id="hint">
            <text>{{hint}}</text>

        </div>

    </body>
</html>